.form {
  width: 430px;
  max-width: 430px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 34px 36px 36px;
  box-sizing: border-box;
  margin: 0 auto;
}
