.place__like {
  background: url(../../../images/like.svg) no-repeat center;
  background-size: auto;
  align-self: center;
  border: 0;
  margin: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  transition: background-image 0.5s;
}

.place__like:hover {
  background: url(../../../images/like-hover.svg) no-repeat center;
  cursor: pointer;
}

.place__like:active {
  background: url(../../../images/like-active.svg) no-repeat center;
}
