.form__button-save {
  background-color: #000;
  border: 1px solid #000;
  border-radius: 2px;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  transition: opacity 0.5s;
  padding: 0;
  height: 50px;
  width: 100%;
}

.form__button-save:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .form__button-save {
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}
