.profile__heading {
  display: flex;
  gap: 22px;
  margin: 0 0 10px;
  justify-content: center;
  align-items: top;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .profile__heading {
    gap: 10px;
  }
}
