.popup__container {
  display: flex;
  align-self: center;
  flex-direction: row;
  margin: 0 auto;
  position: relative;
  max-width: 430px;

}

@media screen and (max-width: 767px) {
  .popup__container {
    width: 100%;
    padding: 0 19px;
    box-sizing: border-box;
  }
}
