.header {
  border-bottom: 1px solid #545454;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 74px;
  padding: 45px 0 0;
  margin: 0 auto;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 28px;
    height: 56px;
  }
}
