.profile__add-button {
  background: url(../../../images/profile-add.svg) no-repeat center;
  border: 1px solid #fff;
  border-radius: 2px;
  background-color: transparent;
  box-sizing: border-box;
  margin: 0 0 0 auto;
  padding: 0;
  width: 150px;
  height: 50px;
  transition: opacity 0.4s;
}

.profile__add-button:hover {
  opacity: 0.7;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .profile__add-button {
    margin-left: 0;
    width: 100%;
    max-width: 282px;
  }
}
