.popup__container {
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 34px 36px 37px;
  box-sizing: border-box;
  width: 430px;
  max-width: 430px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .popup__container {
    box-sizing: border-box;
    margin: 0 19px;
    padding: 25px 22px;
    width: 100%;
  }
}
