.profile__info {
  display: flex;
  align-self: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .profile__info {
    margin: 0 0 33px 0;
  }
}
