.place__caption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  margin: 0;
  padding: 25px 18px 25px 21px;
  width: calc(100% - 18px - 21px);
  
}
